
html {
  box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}
	
body {
	@include O400;
  font-size: 16px;
  max-width: 1371px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
	text-decoration: none;
}

.title {
	text-align: center;
	font-size: 20px;
  @include S300;
  word-spacing: 7px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

